//Colores
$negro: #111111;

//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuentePrincipal: 'Roboto', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Separaciones
$separacion: 5rem;