.nosotros {
    p {
        text-align: center;
    }
}

.integrantes {
    @include tablet {
        display: flex;
        justify-content: space-evenly;
    }

    .integrante {
        text-align: center;
    }

    img {
        height: 25rem;
        margin: 0 auto;
    }
}